* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}



.email-top a{
   color: #FEFEFEFE;
   display: flex;
   align-items: center;
   margin-top: 10px;
   font-size: larger;
   justify-content: space-around;
   text-decoration: none;
}

nav {
    color: #FEFEFEFE;
    display: flex;
    align-items: center;
    height: 20vh;
    padding: 100px;
    justify-content: space-around;
    text-decoration: none;
}

nav a {
    font-size: 18px;
    color: #FEFEFEFE;
    cursor: pointer;
    text-decoration: none;
    
}

h1 {
    color: hsla(53, 27%, 87%, 0.996);
    text-align: -webkit-center;

}

body {
    height: 100vh;
    background-color: rgb(16, 22, 39);
}

.headImg {
    height: 120px;
    margin: 20px;
    border-radius: 3px;
}


.caixa-mae {
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-around;
    color: #FEFEFEFE;
    
} 

.text-inicial{
    color: hsla(53, 27%, 87%, 0.996);
    font-size: 25px;
    text-align: -webkit-center;
    margin-top: 30px;
}

.text-who {
    font-size: 18px;
}

.logo-portaria {
    height: 300px;
    margin-left: 39%;
    margin-top: 10px;
    border-radius: 8px;
}

.caixa-mae button{
    background-color: rgb(231, 173, 73);
    color: white;
    border-radius: 3px;
    border: none;
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 42%;
    text-decoration: none;
}

button:hover {
    background: linear-gradient(0deg, rgba(22,25,22,1) 0%, rgb(231, 173, 73) 100%);
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.whatsapp img {
    height: 60px;
}

.instagram {
    position: fixed;
    bottom: 75px;
    right: 15px;
    cursor: pointer;
}

.instagram img {
    height: 60px;
}

.caixa-video {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;

   }

.video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.video-mobile {
    display: none;
}

.mascara {
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

a:hover {
    background: linear-gradient(0deg, rgba(22,25,22,1) 0%, rgb(231, 173, 73) 100%);
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

#close-form {
    position: absolute; /* Posicionamento absoluto dentro da .formulario- */
    top: -32px; /* Distância do topo */
    right: 0px; /* Distância da borda direita */
    background-color: #ff0000; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Tamanho do botão */
    cursor: pointer; /* Mostra a mãozinha ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    z-index: 10; /* Garante que o botão fique acima do conteúdo do formulário */
}

#close-form:hover {
    background-color: #d10000; /* Alteração de cor ao passar o mouse */
}

.formulario- {
    background-color: rgb(231, 173, 73); /* Cor de fundo do formulário */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    /* left: -400px; */
    left: 50%; /* Centraliza o formulário em relação ao eixo horizontal */
    transform: translateX(-50%); /* Compensa a largura do formulário para centralizar corretamente */
    padding: 20px;
    border-radius: 5px;
    gap: 15px;
    transition: left 1.0s ease-in-out;
    z-index: 5; /* Para garantir que o formulário não fique sobre o botão */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar mais destaque ao formulário */
}

.formulario- {
    left: -10%;
}

.nossos-servicos {
    color: hsla(53, 27%, 87%, 0.996);
    text-align: -webkit-center;
    font-size: 25px;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: left 1s ease-in-out;
    z-index: 4;
}

/* Controle do carrossel */
#carouselExampleControls {
    display: block;
    position: relative;
    width: 60%;
    padding-left: 30px;
    padding-right: 20px;
}

/* Sobrescrevendo o display do carrossel */
.carousel-item,
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex !important; /* Força os itens do carrossel a usar o display flex */
    transition: transform .6s ease !important; /* Garante que a transição funcione corretamente */
    
}

/* Opcional: Ajuste para os itens do carrossel ficarem no layout flex (se necessário) */
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    margin-left: 450px;
}


.carousel-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-right: 210px;
}



/* Ajuste o layout flex dentro do carrossel */
.carousel-item .service-item {
    flex: 1 1 calc(20% - 10px); /* Para 5 itens por linha */
}

/* Ajuste para 4 itens por tela */
.carousel-item:not(.active) .service-item {
    flex: 1 1 calc(20% - 10px); /* Para 4 itens por linha */
}

/* Ocultar os itens da tela errada (isso já foi feito antes) */
.carousel-item.active .service-item:nth-child(n+6) {
    display: none;
}

.carousel-item:not(.active) .service-item:nth-child(-n+5) {
    display: none;
}


/* Ajuste do botão de serviços */
.button-services {
    position: relative;
    width: 90%;
    transition: width 0.3s ease;
    
}


/* Ajuste das imagens dentro dos botões */
.button-services img {
    height: 150px;
    object-fit: contain; /* Garante que a imagem não fique deformada */
    transition: transform 0.1s ease;
}

/* Efeito de zoom nas imagens no hover */
.button-services img:hover {
    transform: scale(1.1);
}

/* Estilos para os botões de navegação (Next/Prev) */
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin-left: 400px;
    margin-right: -300px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 1;
}

/* Aplicando cor e negrito diretamente para todos os <b> no conteúdo */
#carouselExampleControls .carousel-item .service-item b,
.popup-content b {
    font-weight: bold !important;  
    color: #12075e !important;
    font-size: medium;
}



#servico-alarme {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    padding: 12px;
    white-space: normal;        /* Permite que o texto quebre automaticamente */
    text-align: left;           /* Alinhamento à esquerda */
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Certifique-se de que o popup está por cima de outros elementos */
}

.popup-content {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto; /* Garante que o texto rolável apareça corretamente */
    max-height: 80%; /* Evita que o popup ocupe toda a altura da tela */
}

#close-popup {
    position: absolute;  /* Fixa o botão no topo do popup */
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

#popup-text {
    font-size: 14px;
    color: #333;
}

.service-text.hidden {
    display: none;
}

.service-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Transição suave */
}

.service-text:not(.hidden) {
    opacity: 1; /* Quando não estiver com .hidden, fica visível */
}


#close-popup:hover {
    background-color: #d10000;
}

#popup-text {
    margin-top: 30px; /* Distância do texto para baixo, para que não fique colado no botão */
}




/* Responsividade para telas largas */
@media (max-width: 1919px) and (min-width: 1618px){
    .carousel-control-next,
    .carousel-control-prev {
        margin-left: 400px;
        margin-right: -400px;
    }

    #close-form {
        top: -32px; 
        right: -30px; 
    }

    
}

/* Responsividade para telas largas */
@media (max-width: 1679px) and (min-width: 1440px){
    .carousel-control-next,
    .carousel-control-prev {
        margin-left: 200px;
        margin-right: -350px;
    }

    .carousel-inner {
        margin-left: 230px;
    }

    .carousel-item {  
      margin-right: 150px; 
    }

    #close-form {
        top: -32px; 
        right: -22px; 
    }

    
}

/* Responsividade para telas menores */
@media (max-width: 1439px) and (min-width: 1280px){
    .carousel-control-next,
    .carousel-control-prev {
        margin-left: 150px;
        margin-right: -210px;
    }

    .carousel-inner {
        margin-left: 180px;
    }

    .carousel-item {  
      margin-right: 150px; 
    }

    .button-services img {
        height: 120px;
    }

    #close-form {
        top: -32px; 
        right: -20px; 
    }

}

/* Responsividade para telas menores */
@media (max-width: 1279px) and (min-width: 1024px){

    h1 {
       font-size: 27px;
    }

    .headImg {
        height: 80px;
    }

    .logo-portaria {
        height: 180px;
        margin-left: 40%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-left: 160px;
        margin-right: -210px;
    }

    .caixa-mae button{
        margin-left: 38%;
    }

    .carousel-inner {
        margin-left: 180px;
    }

    .carousel-item {  
      margin-right: 150px; 
    }

    .button-services img {
        height: 90px;
    }

    .formulario- {
        top: 35%;
        
    }

    #close-form {
        top: -30px; 
        right: -1px; 
    }

}


/* Responsividade para tablets maiores */
@media (max-width: 1023px) and (min-width: 820px){

    h1 {
        font-size: 22px;
     }
 
     .headImg {
         height: 60px;
     }
 
     .logo-portaria {
        height: 190px;
        margin-left: 35%;
    }

    .caixa-mae button {
        margin-left: 32%;
    }
 
     .carousel-control-next,
     .carousel-control-prev {
         margin-left: 160px;
         margin-right: -210px;
     }
 
     .carousel-inner {
         margin-left: 180px;
     }
 
     .carousel-item {  
       margin-right: 100px; 
     }
 
     .button-services img {
         height: 75px;
     }
 
     .formulario- {
         top: 30%;
        
     }
 
     #close-form {
         top: -32px; 
         right: -4px; 
     }

}

/* Responsividade para tablets maiores */
@media (max-width: 819px){

    h1 {
        font-size: 22px;
     }
 
     .headImg {
         height: 60px;
     }
 
     .logo-portaria {
        height: 190px;
        margin-left: 35%;
    }


     .text-who {
        font-size: medium;
        margin-left: 0px;
    }
 
     .carousel-control-next,
     .carousel-control-prev {
         margin-left: 120px;
         margin-right: -180px;
     }
 
     .carousel-inner {
         margin-left: 160px;
     }
 
     .carousel-item {  
       margin-right: 95px; 
     }
 
     .button-services img {
         height: 70px;
     }
 
     .formulario- {
         top: 30%;
        
     }
 
     #close-form {
         top: -32px;
         right: -4px; 
     }

     .caixa-mae button {
        margin-left: 30%;
     }

}

/* Responsividade para telas menores */
@media (max-width: 785px)  {

    nav {
        height: 20vh;
        padding: 10px;
    }

    h1 {
        font-size: large;
    }
 
    .headImg {
        
        height: 130px;
    }
 
    .logo-portaria {
        height: 280px;
        margin-left: 25%;
    }

    .caixa-mae button {
        margin-left: 25%;   
    }

    .text-inicial {
        font-size: large;
    }

    .text-who {
        font-size: large;
    }


    #carouselExampleControls {
        width: 70%; 
        padding: 0 10px; /* Pequeno padding nas laterais */
    }

    .carousel-inner {
        margin-left: 200px; /* Remove a margem lateral grande */
        flex-direction: column; /* Alinha os itens verticalmente */
        align-items: center;
    }

    .carousel-item {
        flex-direction: column; /* Empilha os itens verticalmente */
        justify-content: center;
        gap: 20px; /* Espaço entre os itens */
        margin-right: 0; /* Remove a margem lateral */
    }

    .carousel-item .service-item {
        flex: 0 0 auto; /* Permite que os itens não sejam redimensionados */
        width: 90%; /* Ocupa quase toda a largura */
        max-width: 300px; /* Largura máxima */
    }

    .button-services {
        width: 100%; /* Ocupa toda a largura */
        margin-bottom: 15px; /* Espaço entre os itens */
    }

    .button-services img {
        height: 200px; /* Aumenta o tamanho da imagem */
        width: 100%; /* Ocupa toda a largura */
        object-fit: contain; /* Mantém a proporção da imagem */
    }

    .carousel-control-next {
        margin-right: -15%;
        width: 10%;
    }

    .carousel-control-prev {
        margin-left: 115px;
        width: 10%;
    }

    .video {
        display: none;
    }

    .video-mobile {
        display: block;
    }


    #close-form {
        top: -32px; 
        right: -4px; 
    }
}



@media (max-width: 683px) {

    .logo-portaria {
        margin-left: 15%;
    }

    .button-services img {
        height: 180px;
    }

    .carousel-inner {
        margin-left: 160px;
    }

    .carousel-control-prev {
        margin-left: 90px;
    }

    .carousel-control-next {
        margin-right: -22%;
    }
    
}


@media (max-width: 623px) {


    .button-services img {
        height: 150px;
    }
    .carousel-inner {
        margin-left: 150px;
    }
}


@media (max-width: 600px) {

    .button-services img {
        height: 140px;
    }

    .carousel-inner {
        margin-left: 130px;
    }

}

@media (max-width: 570px) {

    .logo-portaria {
        height: 260px;
        margin-left: 5%;
    }
    
    .caixa-mae {
        font-size: medium;
    }


    .caixa-mae button {
        margin-left: 15%;   
    }

    .button-services img {
        height: 120px;
    }

    .carousel-inner {
        margin-left: 70px;
    }

    .carousel-item {
        margin-left: 15%;
        max-width: 250px;
    }


}

@media (max-width: 480px) {

    .email-top {
        font-size: medium;
    }

    .headLink {
        font-size: medium;
    }

    .logo-portaria {
        margin-left: 15%;
        height: 200px;
    }

    .text-inicial, .text-who {
        font-size: small;
        margin-left: -45px; 
    }
    .caixa-mae button {
        margin-left: 5%;
    }

    .formulario- {
        left: 30%;
    }

    #close-form {
        right: -14px;
    }

    .instagram img, .whatsapp img {
        height: 50px;
    }

    .button-services img {
        height: 110px;
    }

    .carousel-inner {
        margin-left: 50px;
    }

    .carousel-item {
        margin-left: 15%;
        max-width: 250px;
    }


    .carousel-control-next {
        margin-right: -60px;
    }

    .carousel-control-prev {
        margin-left: 60px;
    }

}

@media (max-width: 430px) {

    .email-top {
        font-size: small;
    }
    .headImg {
        height: 100px;
    }

    .headLink {
        font-size: small;
    }

    .logo-portaria {
        margin-left: 0%;
    }

    h1 {
        font-size: small;
    }

    .text-inicial, .text-who {
        font-size: small;
        margin-left: -50px; 
    }

    .caixa-mae button {
        margin-left: -10%;   
    }

    .carousel-control-prev {
        margin-left: 50px;
    }

}

@media (max-width: 375px) {
    
    .logo-portaria {
        margin-left: -5%;
        height: 180px;
    }

    .headImg {
        height: 70px;
    }

    h1 {
        font-size: small;
    }

    .text-inicial {
        font-size: small;
        margin-left: -70px; 
    }


    .text-who {
        font-size: xx-small;
        margin-right: 35px;
       
    }

    .caixa-mae button {
        margin-left: -15%;   
    }

    .button-services img {
        height: 90px;
    }

    .formulario- {
        left: 40%;
    }

    .carousel-inner {
        margin-left: 50px;
    }

    .carousel-item {
        margin-left: 15%;
        max-width: 160px;
    }


    .carousel-control-next {
        margin-right: -35px;
    }

    .carousel-control-prev {
        margin-left: 80px;
    }
}
